body{
	font-size: 16px;
	color:white;
	background-color: black;
	font-family: 'Architects Daughter', cursive;
}
/*Header*/
#header-nav{
	background-color: grey;
	border-radius: 0;
	border: 0;
}

/*Navbar*/
.navbar-brand{
	padding: 25px;
}

/*Name*/
.navbar-brand h1{
	font-size: 2em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	line-height: 0;
	color: black;
	position: absolute;
	left: 50px;
	margin-top: auto;
}

.navbar-brand a:hover,.navbar-brand a:focus{
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle {
  clear: right;
  margin-top: 10px;
}

#nav-list {
  margin-top: 0;
}

#nav-list a {  
  margin-top: 1px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 1.5em;
}

#nav-list a:hover {
  background: white;
}

h1{
	text-align: center;
	margin-bottom: 30px;
	font-size: 2.0em;
	clear: both;
}

h2{
	text-align: center;
	margin-top: 10px;
	font-size: 1.7em;
}

p{
	font-size: 1.2em;
}

#Chicken{
	margin-bottom: 20px;
	margin-left: 2%;
	margin-right: 2%;
	background-color: grey;
}

#Beef{
	margin-bottom: 20px;
	margin-left: 2%;
	margin-right: 2%;
	background-color: grey;
}

#Sushi{
	margin-bottom: 20px;
	margin-left: 2%;
	margin-right: 2%;
	background-color: grey;
}

#back-to-top{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 1.0em;
}

#back-to-top a{
	text-decoration: none;
	color: white;
}

#back-to-top a:hover,#back-to-top a:focus{
	text-decoration-line: none;
	color: black;
}

html{
	scroll-behavior: smooth;
}

/*Simple responsive framework*/
.row{
	width: 100%;
}

/*Large devices only*/
@media (min-width: 1200px){
	.col-lg-4{
		float: left;
		border: 1px solid white;
		width: 29.33%;
}
}

/*Medium devices only*/
@media (min-width: 992px) and (max-width: 1199px){
	.col-md-6, .col-md-12{
		float: left;
		border: 1px solid white;
}
	.col-md-6{
		width: 46%;
}
	.col-md-12{
		width: 96%;
}
}

/*Small devices only*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-sm-12{
  		float: left;
  		border: 1px solid white;
  		width: 100%;
  }
}

/*Extra small devices only*/
@media (max-width: 767px) {
 	.col-xs-12{
  		float: left;
  		border: 1px solid white;
  		width: 100%;
  }
  }
